
* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, 'Times New Roman', Times, serif;
}
.flex-container {
    display: flex;
}

body {
    display: flex;
}

#carcasa {
    border-radius: 18px;
    background-color: #74cc02;
    width: 375px;
    height: 600px;
    margin: auto;
    border: 5px solid black;
}

#pantalla {
    border-radius: 18px;
    margin: auto;
    top: 3%;
    background-color: rgb(75, 75, 75);
    width: 90%;
    height: 45%;
    border: 5px solid black;
    align-items: center;
    justify-content: center;
}

#display {
    right: 10px;
    border-radius: 18px;
    /* margin: auto; */
    background-color: rgb(139, 139, 139);
    width: 75%;
    height: 75%;
    border: 5px solid black;
    .info{
        margin-top: 10px;
        position: absolute;
        height: 20px;
        z-index: 99;
        width: 100%;
        text-align: center;
    }
    #songname{
        font-weight: bold;
        font-size: 20px;
    }
    #artistname{
        font-size: 15px;
        margin-top: 40px;
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 14px;
    }
    .time{
        display: flex;
        justify-content: center;
        align-items: center;
        // outline: solid black;
        width: 25px;
        height: 10px;
        font-size: 15px;
    }
    #current{
        bottom: 26px;
        left: 10px;
    }
    #duration{
        bottom: 54px;
        left: 195px;
    }
    .bar{
        margin: auto;
        top: -40px;
        height: 18px;
        width: 65%;
        border: 4px solid rgb(41, 41, 41);
        border-radius: 10px;
        .progress{
            border-radius: 4px;
            height: 100%;
            width: 0%;
            background: rgb(41, 41, 41);
        }
    }
}

#led{
    right: 25px;
    bottom: 50px;
    border-radius: 100%;
    background-color: rgb(233, 7, 7);
    border: 3px solid black;
    height: 15px;
    width: 15px;
}

#logo {
    text-align: center;
    margin: auto;
    border-radius: 18px;
    color: white;
    width: 110px;
    height: 18px;
    top: 5.5%;
    border: 4px solid black;
    
}

.shadow{
    box-shadow: 0px 4px 2px rgba(49, 49, 49, 0.767);
}

#botones1 {
    height: 100px;
    top: 7%;
    align-items: center;
}

#cruz1, #cruz2{
    background-color: rgb(100, 100, 100);
    border: 6px solid black;
    border-radius: 10px;
}

#cruz1 {
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    left: 5%;
    #dtcruz{
        border-radius: 100%;
        background-color: rgb(100, 100, 100);
        border: 3px solid black;
        height: 15px;
        width: 15px;
        left: 35%;
        z-index: 999;
    }
    #back{
        right: 55px;
        position: absolute;
        height: 150%;
        width: 40%;
        // border: 4px solid rgb(255, 0, 0);
        z-index: 999;
        cursor: pointer;
    }
    #forth{
        left: 55px;
        position: absolute;
        height: 150%;
        width: 40%;
        // border: 4px solid rgb(255, 0, 0);
        z-index: 999;
        cursor: pointer;
    }
}

#cruz2 {
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100px;
    right: 46px;
    margin-right: 80px;
    #volUp,#volDown{
        position: absolute;
        // outline: solid red;
        height: 40%;
        width: 100%;
        cursor: pointer;
    }
    #volDown{
        top: 50px;
    }
}

#cruz3 {
    background-color: rgb(100, 100, 100);
    width: 60px;
    height: 18px;
    /* border: 4px solid black; */
    // left: px;
    border-radius: 10px;
    z-index: 998;
}

#btnA, #btnB{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgb(100, 100, 100);
    border: 6px solid black;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#btnB {
    top: 10%;
    margin: 0 15px 0 15px;
    // left: 30px;
}

#btnA {
    align-self: start;
    top: 13%;
    // left: 45px;
}

#botones2 {
    height: 20px;
    top: 17%;
    justify-content: center;
}

.btn1 {
    border: 6px solid black;
    border-radius: 10px;
    width: 53px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(100, 100, 100);
}

#speaker{
    /* border: 1px solid black; */
    top: 18%;
    height: 75px;
    justify-content: flex-end;
}

#cuadricula{
    /* border: 1px solid black; */
    margin: auto 20px auto 0;
    height: 65px;
    width: 65px;
    align-items: flex-start;
    flex-flow: row wrap;
}

.dot, .dot1{
    /* border: 1px solid black; */
    margin: 1px;
    border-radius: 100%;
    height: 8px;
    width: 8px;
}

.dot1{
    background-color: rgb(133, 133, 133);
}

.dot{
    background-color: rgb(70, 70, 70);
}